openapi: 3.0.0
info:
  title: Beemeeart User Management API
  description: User profile management, multi-type profiles, and profile completion workflows
  version: 1.0.0
  contact:
    name: Beemeeart API Support
    url: https://beemeeart.com/support
    email: api-support@beemeeart.com

servers:
  - url: https://api.beemeeart.com/users
    description: Production server
  - url: https://test.beemeeart.com/users
    description: Testing server

paths:
  /me:
    get:
      summary: Get current user profile
      description: Fetch the complete profile of the authenticated user
      operationId: getCurrentUserProfile
      tags:
        - User Profile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      summary: Update user profile
      description: Update current user's profile with multi-type support and file uploads
      operationId: updateUserProfile
      tags:
        - User Profile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProfileUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /:
    get:
      summary: Filter users by permissions
      description: Get users filtered by permissions and user types
      operationId: filterUsers
      tags:
        - User Management
      security:
        - BearerAuth: []
      parameters:
        - name: permissions
          in: query
          required: true
          description: Comma-separated list of permissions/user types
          schema:
            type: string
          example: "vendor,admin"
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /profile/by-id/{id}:
    get:
      summary: Get user profile by ID
      description: Fetch a public user profile by user ID
      operationId: getUserProfileById
      tags:
        - Public Profiles
      parameters:
        - name: id
          in: path
          required: true
          description: User ID to fetch profile for
          schema:
            type: integer
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicUserProfile'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /artists:
    get:
      summary: Get artists list
      description: Fetch list of active artists with pagination
      operationId: getArtists
      tags:
        - Public Profiles
      parameters:
        - name: limit
          in: query
          description: Maximum number of results
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          description: Number of results to skip
          schema:
            type: integer
            default: 0
        - name: random
          in: query
          description: Whether to randomize results
          schema:
            type: string
            enum: ['true', 'false']
            default: 'true'
      responses:
        '200':
          description: Artists retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArtistProfile'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /{id}/policies:
    get:
      summary: Get user policies
      description: Get user's shipping and return policies
      operationId: getUserPolicies
      tags:
        - Public Profiles
      parameters:
        - name: id
          in: path
          required: true
          description: User ID to fetch policies for
          schema:
            type: integer
      responses:
        '200':
          description: Policies retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPoliciesResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /profile-completion-status:
    get:
      summary: Check profile completion status
      description: Check if authenticated user's profile is complete
      operationId: getProfileCompletionStatus
      tags:
        - Profile Management
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Profile completion status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileCompletionStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /complete-profile:
    patch:
      summary: Complete user profile
      description: Update missing profile fields to complete user profile
      operationId: completeProfile
      tags:
        - Profile Management
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileCompletionRequest'
      responses:
        '200':
          description: Profile completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /select-user-type:
    post:
      summary: Select user type
      description: Allow Draft users to select their user type
      operationId: selectUserType
      tags:
        - Profile Management
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTypeSelectionRequest'
      responses:
        '200':
          description: User type updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTypeSelectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    UserProfile:
      type: object
      properties:
        id:
          type: integer
          description: User ID
        username:
          type: string
          format: email
          description: User email/username
        user_type:
          type: string
          enum: [artist, promoter, community, admin, Draft]
          description: User type
        email_verified:
          type: string
          enum: [yes, no]
          description: Email verification status
        status:
          type: string
          enum: [active, draft, suspended]
          description: User account status
        first_name:
          type: string
          description: First name
        last_name:
          type: string
          description: Last name
        business_name:
          type: string
          nullable: true
          description: Business name (for artists/promoters)
        marketplace_application:
          $ref: '#/components/schemas/MarketplaceApplication'
        addons:
          type: array
          items:
            $ref: '#/components/schemas/UserAddon'
        addon_slugs:
          type: array
          items:
            type: string
          description: Array of active addon slugs

    MarketplaceApplication:
      type: object
      properties:
        work_description:
          type: string
          description: Description of artistic work
        marketplace_status:
          type: string
          enum: [pending, approved, rejected]
          description: Application review status
        media_urls:
          type: object
          properties:
            raw_materials:
              type: string
              format: uri
              nullable: true
            work_process_1:
              type: string
              format: uri
              nullable: true
            work_process_2:
              type: string
              format: uri
              nullable: true

    UserAddon:
      type: object
      properties:
        addon_slug:
          type: string
          description: Addon identifier
        addon_name:
          type: string
          description: Addon display name
        is_active:
          type: integer
          enum: [0, 1]
          description: Addon active status

    ProfileUpdateRequest:
      type: object
      properties:
        # Base profile fields
        first_name:
          type: string
          description: First name
        last_name:
          type: string
          description: Last name
        bio:
          type: string
          description: User biography
        phone:
          type: string
          description: Phone number
        address_line1:
          type: string
          description: Street address
        city:
          type: string
          description: City
        state:
          type: string
          description: State/province
        postal_code:
          type: string
          description: Postal/ZIP code
        # Artist profile fields
        artist_biography:
          type: string
          description: Artist biography
        business_name:
          type: string
          description: Business name
        art_categories:
          type: array
          items:
            type: string
          description: Art categories
        does_custom:
          type: string
          enum: [yes, no]
          description: Accepts custom work
        # File uploads (multipart/form-data only)
        profile_image:
          type: string
          format: binary
          description: Profile image file
        jury_raw_materials:
          type: string
          format: binary
          description: Jury raw materials image

    ProfileUpdateResponse:
      type: object
      properties:
        message:
          type: string
          description: Success message
        uploadedFiles:
          type: object
          description: Uploaded file IDs
          additionalProperties:
            type: integer

    UserSummary:
      type: object
      properties:
        id:
          type: integer
          description: User ID
        username:
          type: string
          format: email
          description: User email
        user_type:
          type: string
          description: User type
        first_name:
          type: string
          description: First name
        last_name:
          type: string
          description: Last name
        display_name:
          type: string
          description: Display name
        email:
          type: string
          format: email
          description: Email address

    PublicUserProfile:
      type: object
      properties:
        id:
          type: integer
          description: User ID
        username:
          type: string
          format: email
          description: User email
        user_type:
          type: string
          description: User type
        first_name:
          type: string
          description: First name
        last_name:
          type: string
          description: Last name
        business_name:
          type: string
          nullable: true
          description: Business name
        bio:
          type: string
          nullable: true
          description: User biography

    ArtistProfile:
      type: object
      properties:
        id:
          type: integer
          description: User ID
        username:
          type: string
          format: email
          description: User email
        business_name:
          type: string
          nullable: true
          description: Business name
        studio_city:
          type: string
          nullable: true
          description: Studio city
        studio_state:
          type: string
          nullable: true
          description: Studio state
        art_categories:
          type: string
          nullable: true
          description: JSON string of art categories
        does_custom:
          type: string
          enum: [yes, no]
          description: Accepts custom work

    UserPoliciesResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Operation success
        policies:
          type: object
          properties:
            shipping:
              $ref: '#/components/schemas/Policy'
            return:
              $ref: '#/components/schemas/Policy'

    Policy:
      type: object
      properties:
        id:
          type: integer
          description: Policy ID
        policy_text:
          type: string
          description: Policy content
        policy_source:
          type: string
          enum: [custom, default]
          description: Policy source type
        created_at:
          type: string
          format: date-time
          description: Creation date

    ProfileCompletionStatus:
      type: object
      properties:
        isComplete:
          type: boolean
          description: Whether profile is complete
        requiresCompletion:
          type: boolean
          description: Whether completion is required
        missingFields:
          type: array
          items:
            $ref: '#/components/schemas/MissingField'
        userType:
          type: string
          description: User type

    MissingField:
      type: object
      properties:
        field:
          type: string
          description: Field name
        label:
          type: string
          description: Field display label

    ProfileCompletionRequest:
      type: object
      required:
        - first_name
        - last_name
        - address_line1
        - city
        - state
        - postal_code
        - phone
      properties:
        first_name:
          type: string
          description: First name
        last_name:
          type: string
          description: Last name
        address_line1:
          type: string
          description: Street address
        city:
          type: string
          description: City
        state:
          type: string
          description: State/province
        postal_code:
          type: string
          description: Postal/ZIP code
        phone:
          type: string
          description: Phone number
        business_name:
          type: string
          description: Business name (required for artists/promoters)

    UserTypeSelectionRequest:
      type: object
      required:
        - user_type
      properties:
        user_type:
          type: string
          enum: [artist, promoter, community]
          description: Selected user type

    UserTypeSelectionResponse:
      type: object
      properties:
        message:
          type: string
          description: Success message
        user_type:
          type: string
          description: Selected user type

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Operation success
        message:
          type: string
          description: Success message

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
        field:
          type: string
          description: Field name (for validation errors)

  responses:
    BadRequest:
      description: Bad request - validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

tags:
  - name: User Profile
    description: Current user profile management
  - name: User Management
    description: User filtering and management
  - name: Public Profiles
    description: Public user profile access
  - name: Profile Management
    description: Profile completion and user type management
