openapi: 3.0.0
info:
  title: Inventory API
  description: Comprehensive inventory management with quantity tracking, allocations, and audit trails
  version: 1.0.0
  contact:
    name: Beemeeart API Support
    url: https://beemeeart.com/support
    email: api-support@beemeeart.com

servers:
  - url: https://api.beemeeart.com/api
    description: Production server

paths:
  /inventory/{product_id}:
    get:
      summary: Get product inventory
      description: Get comprehensive inventory details for a specific product including quantities, allocations, and change history
      security:
        - ApiKeyAuth: []
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: integer
          description: Product ID to get inventory for
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInventoryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    put:
      summary: Update product inventory
      description: Update inventory quantities for a specific product with full audit trail
      security:
        - ApiKeyAuth: []
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: integer
          description: Product ID to update inventory for
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInventoryRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateInventoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /inventory/sync:
    post:
      summary: Sync all products
      description: Synchronize all products to the inventory system (admin only)
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncInventoryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Bearer token authentication

  schemas:
    InventoryDetails:
      type: object
      properties:
        product_id:
          type: integer
          description: Product ID
        qty_on_hand:
          type: integer
          description: Physical inventory count
        qty_on_order:
          type: integer
          description: Items ordered but not yet received
        qty_available:
          type: integer
          description: On hand minus all allocations
        qty_truly_available:
          type: integer
          description: Available minus pending orders
        total_allocated:
          type: integer
          description: Sum of all allocation types
        tiktok_allocated:
          type: integer
          description: Items reserved for TikTok Shop integration
        reorder_qty:
          type: integer
          description: Minimum quantity before reordering
        updated_at:
          type: string
          format: date-time
          description: Last modification timestamp
        updated_by:
          type: integer
          description: User ID who made the last change

    InventoryHistory:
      type: object
      properties:
        id:
          type: integer
          description: History record ID
        product_id:
          type: integer
          description: Product ID
        change_type:
          type: string
          enum: [initial_stock, sync_setup, adjustment, restock, sale, damage, return, allocation, release]
          description: Type of inventory change
        previous_qty:
          type: integer
          description: Quantity before change
        new_qty:
          type: integer
          description: Quantity after change
        quantity_change:
          type: integer
          description: Calculated change amount
        quantity_after:
          type: integer
          description: Final quantity after change
        reason:
          type: string
          description: Reason for inventory change
        created_at:
          type: string
          format: date-time
          description: Change timestamp
        created_by:
          type: integer
          description: User ID who made the change
        first_name:
          type: string
          description: First name of user who made change
        last_name:
          type: string
          description: Last name of user who made change

    UpdateInventoryRequest:
      type: object
      required:
        - qty_on_hand
        - change_type
      properties:
        qty_on_hand:
          type: integer
          minimum: 0
          description: New quantity on hand
        change_type:
          type: string
          enum: [initial_stock, sync_setup, adjustment, restock, sale, damage, return, allocation, release]
          description: Type of inventory change
        reason:
          type: string
          description: Reason for inventory change

    InventorySummary:
      type: object
      properties:
        qty_on_hand:
          type: integer
          description: Physical inventory count
        qty_on_order:
          type: integer
          description: Items ordered but not yet received
        qty_available:
          type: integer
          description: On hand minus all allocations
        qty_truly_available:
          type: integer
          description: Available minus pending orders
        total_allocated:
          type: integer
          description: Sum of all allocation types
        tiktok_allocated:
          type: integer
          description: Items reserved for TikTok Shop integration

    GetInventoryResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        inventory:
          $ref: '#/components/schemas/InventoryDetails'
        history:
          type: array
          items:
            $ref: '#/components/schemas/InventoryHistory'
          description: Last 50 inventory changes

    UpdateInventoryResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Inventory updated successfully"
        inventory:
          $ref: '#/components/schemas/InventorySummary'

    SyncInventoryResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Successfully synced 25 products to inventory system"
        synced:
          type: integer
          description: Number of products synchronized

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          description: Error message

  responses:
    BadRequest:
      description: Bad request - invalid input data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "qty_on_hand and change_type are required"

    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Invalid or missing API key"

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Admin access required"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Product not found"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Error updating inventory"

  examples:
    GetInventoryExample:
      summary: Get product inventory example
      value:
        success: true
        inventory:
          product_id: 123
          qty_on_hand: 50
          qty_on_order: 10
          qty_available: 45
          qty_truly_available: 40
          total_allocated: 5
          tiktok_allocated: 2
          reorder_qty: 20
          updated_at: "2025-09-17T19:30:00Z"
          updated_by: 456
        history:
          - id: 789
            product_id: 123
            change_type: "restock"
            previous_qty: 30
            new_qty: 50
            quantity_change: 20
            quantity_after: 50
            reason: "Weekly inventory replenishment"
            created_at: "2025-09-17T19:30:00Z"
            created_by: 456
            first_name: "John"
            last_name: "Doe"

    UpdateInventoryExample:
      summary: Update inventory example
      value:
        qty_on_hand: 75
        change_type: "restock"
        reason: "Received new shipment from supplier"

    UpdateInventoryResponseExample:
      summary: Update inventory response example
      value:
        success: true
        message: "Inventory updated successfully"
        inventory:
          qty_on_hand: 75
          qty_on_order: 10
          qty_available: 70
          qty_truly_available: 65
          total_allocated: 5
          tiktok_allocated: 2

    SyncInventoryExample:
      summary: Sync inventory response example
      value:
        success: true
        message: "Successfully synced 25 products to inventory system"
        synced: 25

    SyncInventoryNoSyncExample:
      summary: Sync inventory no sync needed example
      value:
        success: true
        message: "All products already have inventory records"
        synced: 0
